<%= form_for @bicycle do |f| %>
	<% if @bicycle.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@bicycle.errors.count, "error") %></h2>

			<ul>
				<% @bicycle.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :name, "Bicycle name" %>
	<%= f.text_field :name %>
	<br>

	<%= f.label :info, "Description" %>
	<%= f.text_area :info, rows: 3, cols: 20 %>
	<br>

	<%= f.label :price %>
	<%= f.text_field :price %>
	<br>

	<%= f.submit %>
<% end %>