<h2>购物车清单</h2>
<br>
<section>
  <%= render "cart" %>
</section>
<section id="checkout_cart">
  <ul>
    <li> 已选商品 <%= @cart.line_items.size %> 件 合计 <%= number_to_currency(@cart.total_price) %> </li>
    <li> <%= button_to '结算', new_order_path, method: :get %> </li>
    <li><%= button_to '清空购物车', @cart, method: :delete %></li>
  </ul>
</section>