<p id="notice"> <%= notice %></p>

<h2>cart show page</h2>

<ul>
    <% @cart.line_items.each do |item| %>
        <li><%= item.quantity %>&times;<%= item.product.name %> <%= number_to_currency(item.total_price) %></li>
    <% end %>

    <p><%= number_to_currency(@cart.total_price) %></p>
    <%= button_to 'Empty cart', @cart, method: :delete %>
</ul>