<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explainnationdi">
      <h2><%= pluralize(@category.errors.count, "error") %></h2>
    </div>
    <ul>
      <%= @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :name, "Category name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
  	<% unless @category.avatar.nil? %>
  		<%= image_tag @category.avatar, class: 'rounded', size: '50x50' %>
  		<br>
  	<% end %>
  	<%= f.label :avatar %>
  	<%= f.text_field :avatar, class: 'form-control' %>
  </div>
  <%= f.submit %>
<% end %>