<main>
  <div class="text-center">
    <h3><%= @product.name %></h3>
    <%= image_tag @product.avatar, class: "img-fuild rounded" %>
    <br>
    <br>
    <% @product.desc_images.each do |img| %>
      <%= image_tag img.url, class: "rounded" %>
      <br>
      <br>
    <% end %>
  </div>
</main>
<section class="text-center">
  <% if user_login? %>
    <%= link_to '编辑', edit_product_path(@product) %> |
    <%= link_to '返回', products_path %>
  <% end %>
  <%= button_to '添加到购物车', line_items_path(product_id: @product)  %>
</section>