<article id="product_detail">
  <div class="row">
    <div class="col offset-1">
      <div class="product_img">
        <figure class="figure">
          <%= image_tag @product.avatar, class: "figure-img img-fluid rounded", size: "350x350" %>
          <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
        </figure>
      </div>
    </div>
    <div class="w"></div>
    <div class="col">
      <div class="product_info">
        <h3> <%= @product.name %> </h3>
        <br>
        <p>创建时间: <%= time_ago_in_words(@product.created_at) %></p>
        <p>详细信息: <%= @product.info %></p>
        <p>类型: <%= @product.category.name %></p>
        <p>价格: <%= number_to_currency(@product.price) %></p>
        <p>促销价: <%= number_to_currency(@product.discount_price) %></p>
      </div>
      <%= button_to '添加到购物车', line_items_path(product_id: @product), class: 'btn btn-primary'  %>
      <br>
      <p class="text-muted">
        服务承诺 正品保证 极速退款 七天无理由退换
      </p>
    </div>
  </div>
  <br>
  <% if @product.desc_images.present? %>
    <% @product.desc_images.each do |img| %>
      <%= image_tag img.url, class: "img-fuild rounded", size: '' %>
      <br>
      <br>
    <% end %>
  <% end %>
</article>
<br>
<section class="text-center">
  <% if user_login? %>
    <%= link_to '编辑', edit_product_path(@product) %> |
    <%= link_to '返回', products_path %>
  <% end %>
</section>
<hr>
<section id="guess_customer_like">
  <p>猜猜你喜欢</p>
  <div class="suggest_products row clearfix">
    <% @guess_products.each do |product| %>
      <div class="guess_product_info col-2">
        <%= link_to image_tag(product.avatar, size: '170x100', class: "img-fluid img-thumbnail") %>
        <em class="show_price_layer"></em>
        <span>$<%= product.price %></span>
      </div>
    <% end %>
  </div>
</section>