<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @product.info %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<%= link_to '编辑', edit_product_path(@product) %> |
<%= link_to '返回', products_path %> 
<%= button_to '添加到购物车', line_items_path(product_id: @product)  %>