<!DOCTYPE html>
<html>
  <head>
    <title>DancheW</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Navbar', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class='nav-item'> <%= link_to '分类', categories_path(category_id: 1),  class: 'nav-link'%></li>
          <li class='nav-item'><%= link_to '单车', categories_path(category_id: 1), class: 'nav-link', id: 'bicycle' %></li>
          <li class='nav-item'> <%= link_to '婴儿车', categories_path(category_id: 3),  class: 'nav-link'%></li>
          <li class='nav-item'> <%= link_to '活动单车', activity_path, class: 'nav-link'%></li>
          <% if user_login? %>
            <li class="nav-ite"> <%= link_to 'Logout', logout_path, class: "nav-link" %> </li>
            <li id="nav-item"><%= link_to '后台管理', admin_root_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if notice %>
      <p class="alert alert-danger"><%= notice %></p>
    <% end %>
    <div class="container-fluid">
      <br>
      <%= yield %>
      <br>
      <br>
      <br>
    </div>
    <footer>
      <br>
      <div class="row">
        <div class="col-4">1 of 3</div>
        <div class="col-4"><p class="text-center">在线客服 / 我的订单 / 使用条款 / 说明书下载</p></div>
        <div class="col-4">1 of 3</div>
      </div>
      <br>
      <br>
    </footer>
  </body>
</html>