<!DOCTYPE html>
<html>
  <head>
    <title>DancheW</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Navbar', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class='nav-item' id="nav_categories"> <%= link_to '分类', categories_path(category_id: 1),  class: 'nav-link'%></li>
          <li class='nav-item' id="nav_danche"><%= link_to '单车', categories_path(category_id: 1), class: 'nav-link', id: 'bicycle' %></li>
          <li class='nav-item'> <%= link_to '婴儿车', categories_path(category_id: 3),  class: 'nav-link'%></li>
          <li class='nav-item'> <%= link_to '活动单车', activity_path, class: 'nav-link'%></li>
          <% if user_login? %>
            <li class="nav-ite"> <%= link_to 'Logout', logout_path, class: "nav-link" %> </li>
            <li id="nav-item"><%= link_to '后台管理', admin_root_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <section id="products_categories" style="display: none;">
      <div>
         <ul class="text-center">
          <% @products_categories.each do |category| %>
            <li>
              <a href="/categories?category_id=<%= category.id %>">
                <%= image_tag category.avatar %>
                <p><%= category.name %></p>  
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
    <% if notice %>
      <p class="alert alert-danger"><%= notice %></p>
    <% end %>
    <div class="container-fluid">
      <br>
      <%= yield %>
      <br>
      <br>
      <br>
    </div>
    <footer>
      <br>
      <div class="row">
        <div class="col-4">1 of 3</div>
        <div class="col-4"><p class="text-center">在线客服 / 我的订单 / 使用条款 / 说明书下载</p></div>
        <div class="col-4">
          Tel 86-21-6233222
          <br>
          ADD 上海武汉湖北大桥小巧
        </div>
      </div>
      <br>
      <br>
    </footer>
    <script type="text/javascript">
      {
        $('nav div ul li:eq(0)').mouseover((event) => {
          $('section#products_categories').toggle().css({"position": "absolute", "z-index": 2, "width": "100%"});
        });

        $('section#products_categories').on('mouseleave', (event) => {
          $(event.currentTarget).toggle();
        });

        $('nav div ul li:eq(1)').on('mouseover', () => {
          $('section#products_categories').css({"display": "none"});
        });

        $('nav > a').on('mouseover', () => {
          $('section#products_categories').css({"display": "none"});
        });
      }
    </script>
  </body>
</html>